
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  border: 1px solid rgba(230, 230, 230, 0.308);
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.171);
  margin: auto;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  background-color: rgba(233, 233, 233, 0.5);
  margin-top: 30px;
}
h3 { 
  margin: 0px;
  font-size: 1rem;
  color: rgb(28, 28, 146)
}

h4 { 
  margin: 20px, 0px;
  font-size: .8rem;
  color: rgb(28, 28, 146)

}

textarea {
  max-width:494px;
  min-width: 494px;
  min-height: 75px;
  max-height: 75px;
  overflow-y: scroll;
  border: none;
}

input {
   width: 492px;
   border: none;
   padding: 5px;
}

button {
  width: 100px;
  height: 25px;
}

.post {
 width: 500px;
 height: auto;
 padding: 20px;
 margin: auto;
 margin-top: 30px;
 position: relative;
 border: 1px solid rgb(230, 230, 230, .3);
 background-color: rgba(233, 233, 233, 0.5);
 box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.171);
 text-align: left;
}

.delete {
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  top: 20px;
  right: 0;
  color: grey;
}
